body {
  
}

#main{
	background-color: #E3E3E3;
}

#title{
	text-align: center;
	
}

#img-div{
	background-color: #FFFFFF;
	
}

#img-caption{
	text-align: center;
}

#tribute-info{
	
}

#last{
	font-style: italic;
	
}